@charset "UTF-8";
/*-Qunado uiser usar borda no conteudo taga= bolder
-Quando quiser mecher no espaço entre a borda e o conteudo usar a tag = padding
-Quando quiser um espaço esterno usar a tag = margi
-Quando quiser um tracejado fora da borda é tag = outline */

:root{
    
    --cor1:gray;
    --cor2:#024959;
    --cor3:#F2C335;
    --cor4:#F2AE30;
    --cor5:#764e29;
    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: linear-gradient(to bottom,var(--cor2),var(--cor1));
    min-height: 100px;
    text-align: center;
    padding-top: 40px;
}
header  h1{
    color:white;
    margin-bottom: 0px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
}
header p{
    color:white;
    font-size: 1.5em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
    }
body{
    background-image: linear-gradient(to bottom,var(--cor1),rgba(61, 0, 0, 0.492));
    overflow-x: auto; 
    }
main{
    min-width: 300px;
    max-width: 1000px;
   margin: auto;
   margin-bottom: 30px;
   padding: 20px;
    background-color: rgba(211, 211, 211, 0.281);
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
}
main p{
    text-align: justify;
    text-indent: 16px;
    margin-bottom: 1.5em;
    font-weight: normal;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.268);

}
a {
    color: black;
    text-decoration: none;
    position: relative;
}
br {
    margin: 5px;
}
div {
    position: relative;
    box-shadow: 0.5px 2px 2px rgba(76, 1, 1, 0.152);
    max-width: 500px;
    min-height: 250px;
    min-width: 180px;
}
div > p {
    padding: 2px;
    width: 92%;
}
div > img {
    position:absolute;
    padding: 2px;
    bottom:5%;
    right: 2%;
    left: 2%;
    margin-top: 10px;
width: 75%;
height: 45%;
padding: 30px 10px 3px 5px;
}
ul {
    list-style: none;
    columns: 2;
    position: sticky;

}

