@charset "UTF-8";
/*-Qunado uiser usar borda no conteudo taga= bolder
-Quando quiser mecher no espaço entre a borda e o conteudo usar a tag = padding
-Quando quiser um espaço esterno usar a tag = margi
-Quando quiser um tracejado fora da borda é tag = outline */

:root{
    
    --cor1:gray;
    --cor2:#024959;
    --cor3:#F2C335;
    --cor4:#F2AE30;
    --cor5:#764e29;
    --fonte-padrao:Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
header{
    background-image: linear-gradient(to bottom,var(--cor2),var(--cor1));
    min-height: 100px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
header  h1{
    color:white;
    margin-bottom: 0px;
    font-size: 3em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
}
header p{
    color:white;
    font-size: 1.5em;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
    }
body{
    background-image: linear-gradient(to bottom,var(--cor1),rgba(61, 0, 0, 0.492));
    overflow-x: auto; 
    }
main{
    min-width: 300px;
    max-width: 1000px;
   margin: auto;
    padding-bottom: 20px;
    background-color: rgba(211, 211, 211, 0.281);
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius:5px ;
    border-bottom-right-radius: 5px;
}
main p{
    text-align: justify;
    text-indent: 16px;
    margin-bottom: 1.5em;
    font-weight: normal;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.268);
}
div {
    position: relative;
    height: 400px;  
    padding-bottom: 1px;
}
div > p {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}
div > img {
width: 100%;
 position: absolute;
height: 70%;

}

nav {
    background-color: black;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
li{
    display: inline-block;
    height: 60px;
}
li > img {
    padding: 2px;
    width: 60px;
    height: 60px;
}
li:hover {
    -webkit-transform: scale(1.3);
}